<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>About {{site.data.settings.client.brand}}</h4>
			</div>
		</div>
	<div class="row">
		<div class="about-container">
		<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
				</div><br />
				Thai Nguyen<br>
				Broker<br>
				<a href="mailto:thai@thewgroupnw.com">thai@thewgroupnw.com</a><br>
				<a href="tel:1-206-718-0237">206-718-0237</a>
			</div>
		<div class="col-lg-6 col-md-8 hidden-sm hidden-xs about-text">
			{{site.data.settings.client.about_markdown | markdownify }}
		</div>
		<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="{{site.data.settings.images.client_headshot_path2 }}" alt="David Huynh" class="client-image" />
				</div><br />
				David Huynh<br>
				Partner<br>
				<a href="mailto:david@thewgroupnw.com">david@thewgroupnw.com</a><br>
				<a href="tel:1-206-354-0401">206-354-0401</a>
			</div>
			</p>
		</div>
	</div>
</div>
</div>
